@using System.Linq
@using Hangfire.Dashboard
@using Hangfire.Dashboard.Pages
@using Hangfire.Dashboard.Management.v2
@using Hangfire.Dashboard.Management.v2.Pages
@using Hangfire.Dashboard.Management.v2.Support
@inherits Hangfire.Dashboard.RazorPage

@{
    Layout = new LayoutPage(ManagementPage.Title);
}

<div class="row">
    <div class="col-md-3">
        @Html.RenderPartial(new Partials.ManagementSidebarPartial(ManagementSidebarItemCollection.Items))
    </div>
    <div class="col-md-9 accordion job-panels">
        @foreach (var sectionKey in jobSections.Keys)
        {
            var scrubbedSection = sectionKey.ScrubURL();
            bool isExpanded = jobSections.Keys.First() == sectionKey;
            string headingCollapsedClass = isExpanded ? "" : "collapsed";
            string ariaExpanded = isExpanded.ToString().ToLower();
            string panelCollapseClass = isExpanded ? "collapse show" : "collapse";

            <div class="panel card wrapper-panel @(jobSections.Count > 1 ? "panel-success" : "single-section")" data-id="@($"section_{scrubbedSection}")">
                @if (jobSections.Count > 1)
                {
                    <div id="@($"section_heading_{scrubbedSection}")" class="panel-heading card-header @headingCollapsedClass" 
                         role="button" data-toggle="collapse" data-parent="#accordion" 
                         href="@($"#section_collapse_{scrubbedSection}")" aria-expanded="@ariaExpanded" aria-controls="@($"section_collapse_{scrubbedSection}")">
                        <h4 class="panel-title">@sectionKey</h4>
                    </div>
                }
                else
                {
                    <h1 class="page-header">@sectionKey</h1>
                }

                <div id="@($"section_collapse_{scrubbedSection}")" class="panel-collapse @panelCollapseClass" 
                     aria-expanded="@ariaExpanded" aria-labelledby="@($"section_heading_{scrubbedSection}")" 
                     data-parent="#jobsAccordion">
                    @Html.RenderPartial(new Partials.PanelPartial(scrubbedSection, jobs.Where(j => j.SectionTitle == sectionKey).ToList()))
                </div>
            </div>
        }
    </div>

    @Html.RenderPartial(new Partials.ClientResources())
</div>
